<h5><%= link_to 'Pour utiliser des filtres textes cliquez ici', texte_path %> </h5>
<h5><%= link_to 'Pour utiliser des descriptions issues de la saisie de l\'offre cliquez ici', remarque_path %> </h5>
<%= render 'consultation_grid' %>
<script> $(document).tooltip() </script> <%# Utilisation de jQuery pour afficher les tooltips %>