<h5><%= link_to 'Pour utiliser des filtres numériques cliquez ici', prix_poids_path %> </h5>
<%= render 'consultation_text_grid' %>
<script> $(document).tooltip() </script> <%# Utilisation de jQuery pour afficher les tooltips %>