%h3 Importer les utilités pour le projet #{@projet_qui_recoit.code_complet + @projet_qui_recoit.nom_code}
= form_tag(action="importer_utilites") do
	%h4 Depuis le projet
	= select_tag "IdInput", options_for_select(@projets.order(code_complet: :asc).collect{ |u| [u.code_complet + ' '+ u.nom_code, u.id] })
	= submit_tag