%h1 Edition de la matière
.container
	- unless session[:ecriture]
		= link_to 'S\'authentifier', new_session_path 
	- else
		= render 'form'
	.col-md-1
		= link_to projets_path, class: "btn btn-default" do
			%i.glyphicon.glyphicon-home
	.col-md-1
		= link_to [@projet, @matiere], class: "btn btn-default", method: :delete, data: { confirm: 'Are you sure?' } do
			%i.glyphicon.glyphicon-trash